doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title pupg mobile
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="stylesheet", href="css/bootstrap4.min.css")
        link(rel="stylesheet", href="css/style.css")
    body
        <audio id="myAudio">
            <source src="images/button-22.mp3" type="audio/mpeg ">
        </audio>
        section(class="conteint text-center ")
            <div class="rgba"></div>
            .main-content
                div(class="up")
                    h1 PUBG MOBILE
                    h5 ONLINE GENERATOR
                    div(class="up-box d-flex text-center")
                        div(class="box")
                            span STATUS:
                            h6(class="active") ONLINE
                        div(class="box")
                            span LAST UPDATE:
                            h6(class="date") 
                        div(class="box")
                            span ONLINE USERS:
                            h6(class="") 294
                div(class="container-1 text-center")
                    h5 USERNAME AND DEVICE
                    div(class="input")
                        <i class="fas fa-user"></i>
                        input(type="username", placeholder="ID/ Username...", id="input")
                    div(class="groub-buttons text-left")
                        .center
                            button(class="buer" value='Android') <i class="fab fa-android"></i> Android
                            button(class="buer left", value='iOS') <i class="fab fa-apple"></i> iOS
                            button(class="buer", value='Windows Pc') <i class="fab fa-windows"></i> Windows Pc
                    div(class="button-sub")
                        button(type="submit" class="sub") CONNECT

                <!--CONRAINER-2-->
                div(class="container-2")
                    h6 PLAYER CONNECTED
                    div(class="up-detals")
                        div(class="detals user")
                            span USERNAME:
                            h6 
                        div(class="detals device")
                            span DEVICE:
                            h6 
                    div(class="chose chose-1")
                        h6(class="h6") AMOUNT OF US
                        div(class='row')
                            .col-md-6 
                                div(class="cont-chose")
                                    img(src="images/r-item-1.png", alt="", srcset="")
                                    h6 5000
                                    span US
                            .col-md-6 
                                div(class="cont-chose")
                                    img(src="images/r-item-1.png", alt="", srcset="")
                                    h6 10000
                                    span US
                            .col-md-6 
                                div(class="cont-chose")
                                    img(src="images/r-item-1.png", alt="", srcset="")
                                    h6 25000
                                    span US
                            .col-md-6 
                                div(class="cont-chose")
                                    img(src="images/r-item-1.png", alt="", srcset="")
                                    h6 50000
                                    span US
                    div(class="chose chose-2")
                        h6(class="h6") AMOUNT OF AG
                        div(class='row')
                            .col-md-6 
                                div(class="cont-chose")
                                    img(src="images/r-item-2.png", alt="", srcset="")
                                    h6 5000
                                    span AG
                            .col-md-6 
                                div(class="cont-chose")
                                    img(src="images/r-item-2.png", alt="", srcset="")
                                    h6 10000
                                    span AG
                            .col-md-6 
                                div(class="cont-chose")
                                    img(src="images/r-item-2.png", alt="", srcset="")
                                    h6 25000
                                    span AG
                            .col-md-6 
                                div(class="cont-chose")
                                    img(src="images/r-item-2.png", alt="", srcset="")
                                    h6 50000
                                    span AG
        section(class="loading text-center")
                .container-miu
                    .head-load 
                        h3 pupg mobile
                    div(class="load-wrapp")
                        div(class="load-4")
                            
                            <div class="ring-1"></div>
                            h3 CONNECTING...
                    div(class="box-a")
                        div(class="box-b")
        section(class="loading-end ")
            div(class="box-final ")
                div(class="head-box")
                    h5 Pupg Mobile
                    h6 <i class="fas fa-cog"></i> PROCESSING...
                div(class="body-load")
                    div(class="load-4 one ")
                            <div class="ring-1"></div>
                            h3 CONNECTING...
                    div(class="load-us two ")
                        div(class="boxs")
                            img(src="images/r-item-1.png", alt="", srcset="")
                            span(class="count us") 
                            h6 us
                        h6 GENERATING <span class="number-end us"></span> Us
                    div(class="load-us three ")
                        div(class="boxs")
                            img(src="images/r-item-2.png", alt="", srcset="")
                            span(class="count ag") 
                            h6 Ag
                        h6 GENERATING <span class="number-end ag"></span> Ag
                    div(class="load-4 end ")
                            <div class="ring-1"></div>
                            h3 FINALIZING GENERATION......
                    div(class="box-c")
                        div(class="box-d")
            div(class="window-end")
                h2 HUMAN VERIFICATION
                p You are almost done! Click on the Verify Now button below to complete human verification.
                div(class="end-boxs")
                    div(class="new-end-box user")
                        span USERNAME
                        h6(class="in") wawa 
                    div(class="new-end-box device")
                        span DEVICE
                        h6(class="de") 
                .d-flex 
                    div(class="new-end-box")
                        img(src="images/r-item-1.png", alt="", srcset="")
                        h6(class="ag") 
                        h6 UC
                    div(class="new-end-box")
                        img(src="images/r-item-2.png", alt="", srcset="")
                        h6(class="us")
                        h6 Ag
                div(class="load-wrapp")
                        div(class="load-4")
                            
                            <div class="ring-1 xs"></div>
                div(class="time")
                    h5 Time Left:
                    h6(id='safeTimerDisplay')
                a(href="https://cutt.ly/YkBKGkG") VERIFY NOW

                     



                    



                            
                    


                

        script(src="js/jquery-3.3.1.min.js")
        script(src="js/bootstrap4.min.js")
        script(src="js/main.js") 